.grid-container {
  margin: 20px;
}

.grid-head {
}

.grid {
  position: relative;
}

.dashboard-card {
  /*position: absolute;*/
  width: 250px;
  height: 250px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.footer {
  margin-top: 16px;
}

.mat-card {
  cursor: grab;
}
