.grid-container {
    margin: 20px;
}

.grid-head {
}

.grid {
    position: relative;
}

.item {
    position: absolute;
    width: 280px;
    height: 250px;

    &.muuri-item-dragging {
        z-index: 3;
    }

    &.muuri-item-releasing {
        z-index: 2;
    }

    &.muuri-item-hidden {
        z-index: 0;
    }
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.footer {
    margin-top: 16px;
}

.mat-card-header {
    cursor: grab;
}
